// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div#canvas {
    position: relative;
    width   : 490px;
    height  : 490px;
    background-color: orange;
    background-image: url(/goban.jpeg);

    div.black {
	border-radius: 50%;
	position: absolute;
	width: 23px;
	height: 23px;
	border: 1px solid black;
	background-color: black;
	background-image: url(/black_stone2.png);
	cursor: pointer;
    }
    div.white {
	border-radius: 50%;
	position: absolute;
	width: 25px;
	height: 25px;
	//border: 1px solid black;
	background-color: white;
	background-image: url(/white_stone.png);
	cursor: pointer;
    }
}